/* Resetear márgenes, rellenos y estilos de lista para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Estilos para la barra de desplazamiento de Webkit */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

/* Estilos para la barra de desplazamiento de Webkit */
::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

/* Estilos para el pulgar de la barra de desplazamiento de Webkit */
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0559ad;
}

/* Definir una fuente personalizada llamada 'HelveticaNowText Black' */
@font-face {
    font-family: 'HelveticaNowText Black';
    src: url('HelveticaNowText-Black.otf') format('opentype');
}

/* Estilos generales del cuerpo del documento */
body {
    background-color: white;
    font-size: 1.19em;
}

/* Estilos para el contenedor principal de la página de inicio */
.container.py-4.index {
    background-color: #0559ad;
    margin: 0;
    text-align: center;
    margin: auto;
}

/* Estilos para las secciones de tecnologías, conectores, origen y ergonomía */
.tecnologias,
.conectores2,
.conectores,
.ergonomia {
    background-color: #0559ad;
    max-width: 90%;
    padding: 1%;
    text-align: center;
    margin: auto;
}

/* Estilos para las secciones de tecnologías, conectores, origen y ergonomía usando un diseño de cuadrícula */
.tecnologias,
.conectores,
.origen,
.ergonomia {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

/* Estilos para las imágenes en las secciones de tecnologías, origen, conectores y ergonomía */
.tecnologiafoto,
.origenfoto,
.conectoresfoto,
.ergonomiafoto {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para los enlaces (hipervínculos) */
a {
    text-decoration: none;
    color: white;
}

/* Estilos para la barra de navegación en la parte superior */
nav {
    display: flex;
    background-color: #0559ad;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    justify-content: space-between;
    align-items: center;
    font-family: 'HelveticaNowText Black', sans-serif;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* Estilos para la lista de elementos de navegación en la barra de navegación */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Estilos para los enlaces de navegación y encabezados de nivel 3 */
nav a,
h3 {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: flex;
    transition: background-color 0.6s ease;
    border-radius: 40px;
}

/* Estilos específicos para algunos enlaces de navegación */
a.nav-link.link-conectores,
a.nav-link.link-tecnologias,
a.nav-link.link-acercade,
a.nav-link.link-inicio {
    color: white;
}

/* Estilos al pasar el cursor sobre los enlaces de navegación */
nav a:hover {
    margin: 0;
    background-color: #05498d;
}

/* Estilos para los títulos de secciones */

.tituloVGACONTENIDO,
.titulocontenidopantallas {
    font-family: 'helveticablack', sans-serif;
    color: white;
    margin-bottom: 20px;
    background-color: #05498d;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.titulo-tecnologias,
.titulo-ergonomia,
.titulo-conectores {
    font-family: 'helveticablack', sans-serif;
    color: white;
    margin-bottom: 20px;
    background-color: #05498d;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s linear;
    /* Transición lineal de 0.5 segundos */
    transform: scale(1);
    /* Establecer la escala inicial */
    transform-origin: center;
    /* Punto de origen centrado */
}

.titulo-tecnologias:hover,
.titulo-ergonomia:hover,
.titulo-conectores:hover {
    transform: scale(1.1);
}

.titulo-conectores a.tituloaconectores,
.titulo-tecnologias a.titulotecnologias,
.titulo-ergonomia a.tituloergonomia {
    text-decoration: none;
    color: inherit;

}

/* Estilos para párrafos de texto */
p {
    font-family: 'Helvetica Light', sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    white-space: normal;
    margin-right: 30px;
    word-wrap: break-word;
}

/* Estilos para títulos de nivel 2 dentro de secciones */
section h2 {
    text-align: center;
}

/* Estilos para el botón de volver arriba */
.boton_contenedor {
    position: fixed;
    bottom: 2%;
    right: -2%;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 1;
}

/* Estilos para el botón de volver arriba cuando está oculto */
.botonarriba {
    width: 0rem;
    height: 0rem;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transition: .2s;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Estilos para el ícono dentro del botón de volver arriba */
.botonarriba i {
    position: absolute;
    font-size: 1.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

/* Estilos para mostrar el botón de volver arriba */
.show {
    z-index: 10;
}

/* Estilos para animar la aparición del botón de volver arriba */
.show .botonarriba {
    animation: popup .3s ease-in-out;
    width: 70px;
    height: 70px;
    z-index: 11;
}

/* Estilos para animar el ícono dentro del botón de volver arriba */
.show i {
    transform: translate(-50%, -50%) scale(1);
}

/* Animación keyframes para mostrar el botón de volver arriba */
@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 15px;
        height: 15px;
    }

    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}

/* Estilos para la sección de conectores2 */
.conectores2 {
    background-color: #0559ad;
    max-width: 90%;
    padding: 20px 1%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el título de la sección de conectores2 */
.titulo-conectores2 {
    font-family: 'helveticablack', sans-serif;
    color: white;
    background-color: #05498d;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: fit-content;
}

/* Estilos para el contenedor de conectores */
.conectores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para las imágenes de conectores */
.vgafoto,
.displayportfoto,
.hdmifoto,
.dvifoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 20px;
}

/* Estilos para las imágenes dentro de los contenedores de conectores */
.vgafoto img,
.displayportfoto img,
.hdmifoto img,
.dvifoto img {
    width: 80%;
    max-height: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 15px;
    transition: all 0.3s ease;
    position:static;
}

/* Estilos al pasar el cursor sobre las imágenes de conectores */
.vgafoto img:hover,
.displayportfoto img:hover,
.hdmifoto img:hover,
.dvifoto img:hover {
    transform: scale(1.2);
    cursor: pointer;
    margin-bottom: 10%;
}

/* Estilos adicionales para las imágenes de conectores */
.vgafoto img,
.displayportfoto img,
.hdmifoto img,
.dvifoto img {
    width: 200px;
    height: 200px;
}

/* Estilos para los párrafos de texto en la sección de conectores */
.conector p {
    font-family: 'Helvetica Light', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: normal;
    margin: 0;
    margin-top: 10px;
}

/* Estilos para los contenedores de video en las secciones de conectores */
.VGA .video-container,
.DVI .video-container,
.HDMI .video-container,
.Displayport .video-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los iframes de video en las secciones de conectores */
.VGA .video-container iframe,
.DVI .video-container iframe,
.HDMI .video-container iframe,
.Displayport .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

/* Estilos para la sección de contenido de conectores */
.contenidoconectores {
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    background-color: #0559ad;
    max-width: 100%;
    max-height: 100%;
}

/* Estilos adicionales para la sección de contenido de conectores y pantallas */
.contenidoconectores,
.contenidopantalla {
    background-color: #0559ad;
    max-width: 90%;
    padding: 1%;
    text-align: center;
    margin: auto;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para los párrafos de texto en la sección de conectores */
.parrafoconectores,
.parrafoVGACONTENIDO,
.parrafoDVICONTENIDO,
.parrafoHDMICONTENIDO,
.parrafoDISPLAYPORTCONTENIDO {
    font-family: 'Helvetica Light', sans-serif;
    color: rgb(255, 255, 255);
    white-space: normal;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    background-color: #084581;
    box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Estilos para la sección de bienvenida */
#bienvenida-section {
    background-color: #053d76;
    width: 100%;
    height: 30vh;
    position: absolute;
}

/* Estilos para la sección "Acerca de" */
#acerca-de {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 100px;
    z-index: 1;
}

/* Estilos para el contenedor de información dentro de "Acerca de" */
.informacion {
    top: 50px;
    position: absolute;
    border: 7px solid blue;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
    text-align: left;
}

/* Estilos para los títulos dentro de "Acerca de" */
/* Estilos para la sección Acerca de mí */
#acerca-de {
    background-color: #f8f9fa;
    /* Color de fondo */
    padding: 40px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Sombra ligera */
    margin-top: 40px;
    margin-bottom: 30px;
}

#acerca-de h2 {
    font-size: 28px;
    /* Tamaño de fuente para títulos */
    color: #333;
    /* Color del texto */
    margin-bottom: 20px;
    /* Espacio inferior */
}

#acerca-de h3 {
    font-size: 24px;
    /* Tamaño de fuente para subtítulos */
    color: #020202;
    /* Color del texto */
    opacity: 80%;
}

#acerca-de p {
    font-size: 16px;
    /* Tamaño de fuente para el texto principal */
    color: #070707;
    /* Color del texto */
    opacity: 70%;
    margin-bottom: 20px;
    /* Espacio inferior entre párrafos */
}

#acerca-de a {
    color: #007bff;
    /* Color de enlaces */
    text-decoration: none;
    /* Sin subrayado predeterminado */
}

#acerca-de a:hover {
    text-decoration: underline;
    /* Subrayado al pasar el cursor */
}

/* Estilos para la sección de contenido de pantallas */
.contenidopantallas {
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    background-color: #0559ad;
    max-width: 100%;
    max-height: 100%;
}

/* Estilos adicionales para la sección de contenido de pantallas */
.contenidopantallas {
    background-color: #0559ad;
    max-width: 90%;
    padding: 1%;
    text-align: center;
    margin: auto;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para los párrafos de texto en la sección de contenido de pantallas */
.parrafopantallas {
    font-family: 'Helvetica Light', sans-serif;
    color: rgb(255, 255, 255);
    white-space: normal;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    background-color: #084581;
    box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Estilos para el título de la sección de pantallas */
.titulo-pantalla {
    font-family: 'helveticablack', sans-serif;
    color: white;
    margin-bottom: 20px;
    background-color: #05498d;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.titulo-principalpantallas {
    font-family: 'helveticablack', sans-serif;
    color: white;
    background-color: #05498d;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: fit-content;
}

/* Estilos para la relación de aspecto de las pantallas */
.relacionaspecto {
    width: 90%;
    height: 30vw;
}

/* Estilos para las tablas */
.table {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
}

/* Estilos para el título de las tablas */


/* Estilos para las tablas y sus contenidos */
.tablas {
    background-color: #0559ad;
    max-width: 90%;
    padding: 1%;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la última fila de una tabla */
.ultima {
    border-bottom: 1px solid transparent;
}

/* Estilos para la barra lateral (aside) */
aside {
    margin-left: auto;
}

/* Estilos para los elementos dentro del aside */
.xd {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    word-spacing: normal;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Estilos para los párrafos dentro del aside */
.parrafoaside {
    color: black;
}

/* Estilos para los títulos dentro del aside */
.tituloaside {
    color: black;
}

.xd h3,
.xd p {
    margin: 0;
    text-align: center;
    word-spacing: normal;
}

/* Estilos para la lista de elementos de interés */
.intereslista a {
    display: block;
    text-decoration: none;
    color: #b1b1b1;
    background-color: #05498d;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    padding-bottom: 2px;
    padding: 10px;
    transition: all 0.3s ease;
}

/* Estilos al pasar el cursor sobre los elementos de interés */
.intereslista a:hover {
    color: rgb(255, 255, 255);
    margin-left: 8%;
    margin-right: 8%;
}

.titulo-tabla {
    font-family: 'helveticablack', sans-serif;
    color: white;
    margin-bottom: 20px;
    background-color: #05498d;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.titulo-principalpantallas {
    font-family: 'helveticablack', sans-serif;
    color: white;
    background-color: #05498d;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: fit-content;
}